In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.stem.porter import PorterStemmer
# nltk.download('stopwords')
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix , ConfusionMatrixDisplay
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
from wordcloud import WordCloud 
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier 
import pickle 
import re

In [3]:
!pip install wordcloud

Requirement already satisfied: wordcloud in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (1.9.3)
Requirement already satisfied: numpy>=1.6.1 in c:\users\sanjay sahoo\appdata\roaming\python\python311\site-packages (from wordcloud) (1.26.4)
Requirement already satisfied: pillow in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (from wordcloud) (9.4.0)
Requirement already satisfied: matplotlib in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (from wordcloud) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (from matplotlib->wordcloud) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (from matplotlib->wordcloud) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sanjay sahoo\appdata\roaming\python\python311\site-packages (from matplotlib->wordcloud) (23.2)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)

In [4]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\sanjay sahoo\anaconda\installation\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\sanjay sahoo\appdata\roaming\python\python311\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\sanjay sahoo\appdata\roaming\python\python311\site-packages (from xgboost) (1.12.0)

In [5]:
data = pd.read_csv(r"archive\amazon_alexa.tsv",delimiter = '\t', quoting = 3)
print(f"Dataset shape: {data.shape}")

Dataset shape: (3150, 5)

In [6]:
data.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"""Sometimes while playing a game, you can answe...",1
3,5,31-Jul-18,Charcoal Fabric,"""I have had a lot of fun with this thing. My 4...",1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [9]:
print(f"Feature names: {data.columns.values}")

Feature names: ['rating' 'date' 'variation' 'verified_reviews' 'feedback']

In [10]:
data.isnull().sum()

rating              0
date                0
variation           0
verified_reviews    1
feedback            0
dtype: int64

In [11]:
data[data['verified_reviews'].isna()==True]

     rating       date variation verified_reviews  feedback
473       2  29-Jun-18     White              NaN         0

In [13]:
data.dropna(inplace = True)
print(f"Dataset shape after dropping numm values: {data.shape}")

Dataset shape after dropping numm values: (3149, 5)